<footer id="footer">
    <ul class="list-footer">
        <li><a href="https://www.linkedin.com/in/levypinheiro2023/"><img src="./img/linkedin.png" class="img-icon"></a></li>
        <li><a href="https://wa.me/5585996144501"><img src="./img/whatsapp.png" class="img-icon"></a></li>
        <li><a href="https://www.instagram.com/levy.pinheiro_/"><img src="./img/instagram.png" class="img-icon"></a></li>
    </ul>
    <p style="justify-content:center;font-size:15px">Levy Pinheiro - 2024</p>
</footer>