<footer id="footer">
    <ul class="list-footer">
        <li><a href="https://www.linkedin.com/in/levypinheiro2023/"><img src="./img/linkedin.png" style="width:40px"></a></li>
        <li><a href="https://wa.me/5585996144501"><img src="./img/whatsapp.png" style="width:40px"></a></li>
        <li><a href="https://www.instagram.com/levy.pinheiro_/"><img src="./img/instagram.png" style="width:40px"></a></li>
    </ul>
</footer>