<header id="header"> 
    <ul class="list-footer-header">
        <li style="float:left;"><h2 style="margin-top:10px">Eu Sou o Levi</h2></li>
        <li><a href="https://www.linkedin.com/in/levypinheiro2023/"><img src="./img/linkedin.png" style="width:30px"></a></li>
        <li><a href="https://wa.me/5585996144501"><img src="./img/whatsapp.png" style="width:30px"></a></li>
        <li><a href="https://www.instagram.com/levy.pinheiro_/"><img src="./img/instagram.png" style="width:30px"></a></li>   
    </ul>
</header>
<nav id="nav">
    <a href="/"><b>Home</b></a>
    <a href="./sobreMim.ejs"><b>Sobre Mim</b></a>
    <a href="./artigos.ejs"><b>Artigos</b></a>
    <a href="./Projetos.ejs"><b>Projetos</b></a>
</nav>
<span class="loading"></span>