<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eu Sou O Levy</title>
    
    <link rel="stylesheet" type="text/css" href="../../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../../styles/carrossel.css">

    <script src="./scripts/carrossel.js" defer></script>
    <script src="./scripts/scriptLoading.js" defer></script>
</head>
<body>
    <%- include("header.ejs") %>
    <section class="slider">
        
        <div class="slider-content">
            <input type="radio" name="btn" id="btn-1">
            <input type="radio" name="btn" id="btn-2">
            <input type="radio" name="btn" id="btn-3">
            <input type="radio" name="btn" id="btn-4">

            <div class="slide-box primeiro">
                <img class="img-desktop" src="./img/levy.jpeg" title="Levi e equipe do JD" width="100%">
                <img class="img-mobile"  src="./img/levy.jpeg" title="Levi e equipe do JD" width="100%">

            </div>
            <div class="slide-box">
                <img class="img-desktop"  src="./img/frescode.jpeg" title="Levi e equipe do JD" width="100%">
                <img class="img-mobile"  src="./img/frescode.jpeg" title="Levi e equipe do JD" width="100%">

            </div>
            <div class="slide-box">
                <img class="img-desktop"  src="./img/jdnaPratica2.jpeg" title="Levi e equipe do JD" width="100%">
                <img class="img-mobile"  src="./img/jdnaPratica2.jpeg" title="Levi e equipe do JD" width="100%">

            </div>
            <div class="slide-box">
                <img class="img-desktop"  src="./img/Lab26JunhoJoão.jpg" title="Levi e equipe do JD" width="100%">
                <img class="img-mobile"  src="./img/Lab26JunhoJoão.jpg" title="Levi e equipe do JD" width="100%">

            </div>

            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
            <div class="nav-manual">
                <label for="btn-1" class="manual-btn"></label>
                <label for="btn-2" class="manual-btn"></label>
                <label for="btn-3" class="manual-btn"></label>
                <label for="btn-4" class="manual-btn"></label>
            </div>
        </div>
    </section>
    <section class="body-home">
    
        <h2>Seja Bem Vindo ao meu Espaço!</h2>
        <p >Meu Nome é Levi,  estudante de programação e uma pessoa curiosa cativada pelo
            espírito da descoberta. 
            Sempre procurando melhorar no que faço. Aqui trago reflexões, 
            dicas, e muito compartilhamento sobre minhas experiências 
            com tecnologia.</p> 
        <dl>
            <dt><p>Minha História</p></dt>
                <p>Como foi meu percurso?</p>
            <dt><p>Meus Contatos</p></dt>
                <p>Professores, colegas, bolsistas</p>
            <dt><p>Meus Porjetos</p></dt>
                <p>Vários projetos ao longo do trajeto</p>
            <dt><p>Artigos que escrevo</p></dt>
                <p>Todo dia, um artigo novo</p>
        </dl>
        </p>
    </section>
    <%- include("footer.ejs") %>

</body>
</html>
