<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projetos</title>
    <link rel="stylesheet" type="text/css" href="../styles/projetos.css">
    <script src="../scripts/scriptLoading.js"></script>
    
</head>
<body>
    <%- include("header.ejs") %>
    <section>
        <h1 class="titulo">Projetos Pessoais</h1>
        <p class="body-projetos"> Alguns dos projetos que desenvolvi como estudante de programação:</p>
    </section>

    <section class="body-projetos">
        <dl>
            <dt><a  href="https://github.com/samuelaraujoc/qar-jd"><h2 class="link-projeto">Portal Qualidade do Ar</h2></a>
                <p>Portal sobre qualidade do ar onde, tive a oportunidade de contribuir no desenvolvimento Front e Back End.<br>
                     Uma das minhas atribuições principais, foi a implementação do mapa interativo na página inicial
                </p>
                <img class ="video-gif" src="../img/mapa.gif">
            </dt>
            <dt><a  href="https://qesolver.netlify.app/"><h2 class="link-projeto">Resolutor de Equações Quadráticas</h2></a>
                <p>Treine matemática com esta ferramenta incrível!</p>
                <img class ="video-gif" src="../img/quadraticEquationVD ‐ Feito com o Clipchamp.gif">
            </dt>
            <dt><a  href="https://watercount.netlify.app/"><h2 class="link-projeto">Calculador de Ingestão de Água</h2></a>
                <p>Descubra quantos litros de água você precisa beber por dia</p>
                <img class="video-gif" src="../img/waterCount.png">
            </dt>
            <dt><a  href="https://github.com/Levy3006/Sistema-Ponto-De-Venda.git"><h2 class="link-projeto">Sistema Ponto De Venda (PDV)</h2></a>
                <p>Sistema de PDV simples em Python!</p>
                <img class="video-gif" src="../img/Vídeo sem título ‐ Feito com o Clipchamp.gif">
            </dt>
            <dt><a  href="https://github.com/Levy3006"><h2 class="link-projeto">Meu Github: Alguns outros Projetos</h2></a>
                <p>Projetos que trabalhei e tive a oportunidade de contribuir!</p>
            </dt>
        </dl>
    </section>
    <%- include("footer.ejs") %>
</body>
</html>
