<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projetos</title>
    <link rel="stylesheet" type="text/css" href="../styles/projetos.css">
    <script src="../scripts/scriptLoading.js"></script>
    
</head>
<body>
    <%- include("header.ejs") %>
    <section><h1 class="titulo">Projetos Pessoais</h1>
    <p class="text"> Alguns dos projetos que desenvolvi como estudante de programação:</p>
    </section>

    <section id="body-projetos">
        <dl><dt><a  href="https://qesolver.netlify.app/"><p class="link-projeto">Resolutor de Equações Quadráticas</p></a>
                <dd><h3>Treine matemática com esta ferramenta incrível!</h3></dd>
                <img class ="video-gif" src="../img/quadraticEquationVD ‐ Feito com o Clipchamp.gif">
            </dt>
            <dt ><a  href="https://watercount.netlify.app/"><p class="link-projeto">Calculador de Ingestão de Água</p></a>
                <dd><h3>Descubra quantos litros de água você precisa beber por dia</h3></dd>
                <img class="video-gif" src="../img/waterCount.png">
            </dt>
            <dt><a  href="https://github.com/Levy3006/Sistema-Ponto-De-Venda.git"><p class="link-projeto">Sistema Ponto De Venda (PDV)</p></a>
                <dd><h3>Sistema de PDV simples em Python!</h3></dd>
                <img class="video-gif" src="../img/Vídeo sem título ‐ Feito com o Clipchamp.gif">
            </dt>
            <dt><a  href="https://github.com/Levy3006"><p class="link-projeto">Meu Github: Alguns outros Projetos</p></a>
                <dd><h3>Projetos que trabalhei e tive a oportunidade de contribuir!</h3></dd>
            </dt>
        </dl>
    </section>
    <%- include("footer.ejs") %>
</body>
</html>
