section.slider{
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, img-mobile{
    display:none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.img-mobile{
    display:none;
}
.nav-manual, .nav-auto{
    position:absolute;
    width: 70%;
    margin-top: 47%;
    display: flex;
    margin-left: 25%;
}

.nav-manual .manual-btn, .nav-auto div{
    border:1px solid red;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;

}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: red;
}
#btn-1:checked ~ .nav-auto .auto-btn1{
    background-color: red;
}
#btn-2:checked ~ .nav-auto .auto-btn2{
    background-color: red;
}
#btn-3:checked ~ .nav-auto .auto-btn3{
    background-color: red;
}
#btn-4:checked ~ .nav-auto .auto-btn4{
    background-color: red;
}
#btn-1:checked ~ .primeiro{
    margin-left: 0%;

}
#btn-2:checked ~ .primeiro{
    margin-left: -25%;

}
#btn-3:checked ~ .primeiro{
    margin-left: -50%;

}
#btn-4:checked ~ .primeiro{
    margin-left: -75%;

}

@media screen and (max-width: 923px){
    section.slider{
        margin: 0 auto;
        width: 80%;
        height: auto;
        padding-bottom: 45px !important;
        overflow: hidden;
    }
    .nav-manual, .nav-auto{
        position:absolute;
        width: 70%;
        margin-top: 47%;
        display: flex;
        margin-left: 25%;
    }
    
    .nav-manual .manual-btn, .nav-auto div{
        border:1px solid red;
        padding: 7px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s;
        margin-left:5px;
        margin-top:10px;
    
    }
    .img-desktop{
        display:none;
    }
    .img-mobile{
        display:block;
    }
    .nav-auto, .nav-manual{
        margin-top: 60%;
    }

}