body{
    overflow-x:hidden;
    font-family:  Arial, Helvetica, sans-serif;
}
.body-home{
    margin-top: 40px;
    margin-left:50px;
}


#header{
    background-color:darkred;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
    color:white;
    width: 110%;
    height: auto;
    margin-left: -15px;
    margin-top: -10px;
    
}
#img-index{
    margin:55px;
    border-radius:5%;
    width:70%;
}
#nav{
    background-color:black;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    width: 120%;
    height: auto;
    margin-left: -90px;

}
.body-index{
    text-align:left;
    margin-left: 20%;
}
.list-footer li{
    list-style: none;
    display: inline-block;
    margin-right: 20px; 
}
.list-footer-header{
    margin-right: 150px;
}
.list-footer-header li{
    
    list-style: none;
    display: inline-block;
    margin-right: 0px;
}

a:link{
    margin:10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    
}
a:visited{
    color:white;
}
a:hover{
    color:yellow;
    
}
.titulo{
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
}
.text{
    margin-left: 50px;
    font-size: 18px;
}
#apresentacao{
    margin-left: 90px;
    font-size:18px;
}
.loading {
    width: 50px;
    height:50px;
    background-color: transparent;
    border-radius: 50%;
    display :block;
    position:fixed;
    margin-left:45%;
    margin-top:10%;
    border-color: darkorange;
    border-style: solid;
    border-right:12px solid transparent;
    border-width: 22px;
    transition: opacity 1s, visibility 1s;
    animation: loading 1s ease-in-out infinite;
}
.loading-hidden{
    opacity:0;
    visibility:hidden;
}
@keyframes loading{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
#footer{
    width: 100%;
    height: auto;
    padding:40px;
    background-color: black;
    color: white;
    text-align: center;
    font-size:x-large;
    margin-top:100px;
    margin-left:-60px;
}
@media screen and (max-width:923px){
    body{
        overflow-x:hidden;
        font-family:  Arial, Helvetica, sans-serif;
    }.body-home{
        margin-top: 10px;
        margin-left:10px;
    }
    
    #header{
        background-color:darkred;
        text-align: right;
        padding-top: 20px;
        padding-bottom: 10px;
        color:white;
        width: 130%;
        height: auto;
        
    }
    #nav{
        background-color:black;
        text-align: center;
        padding-top:10px;
        padding-bottom: 10px;
        width: 150%;
        height: auto;
    }
    .list-footer li{
        list-style: none;
        display: inline-block;
        margin-right: 20px; 
    }
    .list-footer-header{
        margin-right: 150px;
    }
    .list-footer-header li{
        
        list-style: none;
        display: inline-block;
        margin-right: 0px;
    }
    #footer{
        width: 140%;
        height: auto;
        padding:5px;
        background-color: black;
        color: white;
        text-align: center;
        font-size:x-large;
        margin-top:100px;
        
    }
    a:link{
        
        font-size: 15px;
        text-decoration: none;
        color: white; 
    }
}
